@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --violet: violet;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  /* background-color: brown; */
  font-family: "Lexend Deca", sans-serif;

  .container {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* background-color: aqua; */
    width: 85vw;
    height: 80vh;
    position: relative;

    .container-content {
      width: 60%;
      height: 50%;
      /* background-color: chocolate; */
      margin-left: 20%;
      margin-right: 20%;
      position: absolute;
      margin-top: 12%;
      margin-bottom: 12%;
      display: flex;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

      .img {
        width: 40%;
        height: 100%;
        flex-direction: column;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px 0px 0px 8px;
        }

      }


      .info {
        width: 60%;
        height: 100%;

        h1 {
          font-size: 20px;
          padding: 30px 60px;
          padding-bottom: 0;
          height: 33%;
          color: var(--Very-Dark-Grayish-Blue);

        }

        p {
          font-size: 12px;
          padding: 30px 60px;
          padding-top: 20px;
          padding-bottom: 0;
          height: 33%;
          color: var(--Grayish-Blue);
          line-height: 20px;
        }

      }



      .footer {
        position: relative;
        width: 100%;
        height: 34%;
        /* background-color: lightgreen; */
        flex-direction: column;
        display: flex;
        padding: 20px;
        padding-bottom: 0;
        padding-top: 0;
        border-radius: 0 0 8px 0px;


        .person {
          width: 20%;
          height: 100%;
          /* background-color: violet; */

          img {
            height: 45px;
            height: 45px;
            border-radius: 50%;
            margin: 10px;
            margin-top: 20px;
            margin-left: 40px;
          }

        }

        .personal-info {
          width: 40%;
          height: 100%;
          margin-left: 130px;
          margin-top: -105px;
          /* background-color: yellowgreen; */


          h2 {
            font-size: 13px;
            margin-top: 20px;
            margin-bottom: 10px;
            color: var(--Very-Dark-Grayish-Blue);
          }

          p {
            padding: 0;
            color: var(--Grayish-Blue);
          }

        }

        .share {
          width: 35px;
          height: 35px;
          position: absolute;
          right: 0;
          margin-top: 5%;
          margin-bottom: 8%;
          border-radius: 50%;
          background-color: var(--Grayish-Blue);
          margin-right: 15%;
          cursor: pointer;

          .button {
            color: rgb(70, 70, 70);
          }


          i {
            width: 20px;
            height: 20px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 2%;
            position: absolute;
            left: 22%;
            top: 19%;
            cursor: pointer;
            color: var(--Desaturated-Dark-Blue);
          }

        }



      }

      .social-media {
        width: 250px;
        height: 50px;
        position: absolute;
        /* background-color: violet; */
        background: hidden;
        display: flex;
        /* top: 50%;
        left: 77%; */
        top: 19.5vh;
        left: 36.5vw;
        border-radius: 7px;

        // .span {
        //   color: transparent;
        // }

        h1,.text {
          margin-top: 10px;
          margin-left: 20px;
          // color:#000;
          color: transparent;
          // color: #fff;
          font-size: 20px;
          display: flex;
          justify-content: space-between;
          /*aqui color negro*/
          margin-top: 4%;
          
          
        }

        

        .icons {
          margin-right: 10px;
        }

        .fab{
          margin-left: 15px;
          margin-top: 1%;
        }

        .fab.activo {
          color: white;
        }

        .span {
          height: 35px;
          width: auto;
          margin-top: 2%;
          margin-left: 0px;
          font-size: 18px;
          // text-transform: uppercase;
          // color: #000;
          color: transparent;
        }

        .triangule {
          position: relative;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 15px solid transparent;
          /*violet*/
          top: 50px;
          left: -40%;
        }

      }



      .button.active {
        /* background: violet; */
        color: white;
      }

      .activo {
        background-color: var(--Very-Dark-Grayish-Blue);
        color: white;
      }

      .triangule.activo {
        background-color: transparent;
        border-top: 15px solid var(--Very-Dark-Grayish-Blue);
      }

     

      .span.activa {
        color: var(--Grayish-Blue);
      }

    }




  }


  @media screen and (max-width: 1465px) {
    .container{
      .container-content{
       .info{
        h1 {
          font-size: 20px;
          padding-bottom: 0;
          padding: 30px;
          height: 25%;
          margin-bottom: 20px;
          // color: red;
        }

        p{
          padding: 30px;
          height: 25%;
          margin-bottom: 20px;
        }
       }

       .footer{
         margin-top: 40px;
        .person{
          img{
            margin-left:10px;
          }
        }

        .personal-info{
          margin-left: 100px;
        }
       }
      }
    }
  }

  @media screen and (max-width: 1255px) {
    .container{
      .container-content{
       .info{
        h1 {
          font-size: 18px;
          padding-bottom: 0;
          padding: 30px;
          height: 25%;
          margin-bottom: 10px;
          // color: red;
        }

        p{
          padding: 30px;
          height: 25%;
          margin-bottom: 20px;
        }
       

       }
      }

    }
  }


  @media screen and (max-width: 1255px) {
    .container{
      .container-content{
       .info{
        h1 {
          font-size: 16px;
          padding-bottom: 0;
          padding: 30px;
          height: 25%;
          margin-bottom: 10px;
          // color: red;
        }
      }
      }
    }
  }

  @media screen and (max-width: 985px) {
    .container{
      
    
      .container-content{
        width: 70%;
      height: 50%;
       .info{
        h1 {
          font-size: 16px;
          padding-bottom: 0;
          padding: 30px;
          height: 25%;
          margin-bottom: 10px;
          // color: red;
        }

        p{
          padding: 30px;
          height: 25%;
          margin-bottom: 20px;
        }
      }
      }
    }
  }

  @media screen and (max-width: 732px) {
    .container{
      
    
      .container-content{
        width: 70%;
      height: 50%;
       .info{
        h1 {
          font-size: 14px;
          padding-bottom: 0;
          padding: 30px;
          height: 25%;
          margin-bottom: 0px;
          // color: red;
        }

        p{
          padding: 30px;
          height: 25%;
          margin-bottom: 20px;
          font-size: 11px;
        }

        .footer{
          margin-top: 70px;
         .person{
           img{
             margin-left:10px;
           }
         }
 
         .personal-info{
           margin-left: 70px;
         }
        }
      }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .container{
      
    
      .container-content{
        
       .info{
        h1 {
          font-size: 12px;
          padding-bottom: 0;
          padding: 30px;
          height: 25%;
          margin-bottom: 0px;
          // color: red;
        }

        p{
          margin-top: -10px;
          padding: 30px;
          height: 25%;
          margin-bottom: 0px;
          font-size: 10px;
        }

        .footer{
          margin-top: 70px;
         .person{
           img{
             margin-left:10px;
             width: 35px;
             height: 35px;
           }
         }
 
         .personal-info{
           margin-left: 60px;

           h2,p{
             font-size: 10px;
           }
         }
        }
      }
      }
    }
  }


  @media screen and (max-width: 585px) {
    .container{
      
    
      .container-content{
        
       .info{
        h1 {
          font-size: 10px;
          padding-bottom: 0;
          padding: 15px;
          height: 25%;
          margin-bottom: 0px;
          // color: red;
        }

        p{
          margin-top: -10px;
          padding: 15px;
          height: 25%;
          margin-bottom: 0px;
          font-size: 10px;
        }

        .footer{
          margin-top: 70px;
         .person{
           img{
             margin-left:10px;
             width: 30px;
             height: 30px;
           }
         }
 
         .personal-info{
           margin-left: 50px;

           h2,p{
             font-size: 8px;
           }
         }

         .share{
           height: 30px;
           width: 30px;
         }
        }
      }
      }
    }
  }

  @media (min-width: 550px) and (max-width: 465px) {
    .container{
      
    
      .container-content{
       
       .info{
        h1 {
          font-size: 9px;
          padding-bottom: 0;
          padding: 15px;
          height: 25%;
          margin-bottom: 0px;
          // color: red;
        }

        p{
          margin-top: -25px;
          padding: 15px;
          height: 25%;
          margin-bottom: 0px;
          font-size: 8.5px;
        }

        .footer{
          margin-top: 80px;
         .person{
           img{
             margin-left:0px;
             width: 30px;
             height: 30px;
           }
         }
 
         .personal-info{
           margin-left: 35px;

           h2,p{
             font-size: 7px;
             margin-bottom: 25px;
           }
         }

         .share{
           height: 25px;
           width: 25px;
         }
        }
      }
      }
    }
  }

  @media (max-width: 400px) {
    .container {
      width: 100vw;
      height: 100vh;
      // /* background-color: aqua; */
      margin: 0%;
      display: block;
  
  
      .container-content {
        width: 90vw;
        height: 80vh;
        /* background-color: chocolate; */
        display: block;
        border-radius: 8px;
        margin: 5%;
        margin-top: 5vh;
        margin-bottom: 15vh;
  
  
        .img {
          width: 90vw;
          height: 30vh;
  
          img {
            border-radius: 8px 8px 0px 0px;
          }
        }
  
  
  
        .info {
          width: 100%;
          height: 45vh;
  
          h1 {
            margin-top: 15px;
            font-size: 16px;
            padding-bottom: 0;
            padding: 30px;
            height: 25%;
            margin-bottom: 0px;
            line-height: 25px;
          }
  
          p {
            padding: 30px;
            margin-right: 10px;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 25px;
            margin-top: 30px;
            font-size: 14px;
            width: 100%;
          }
  
          .footer {
            width: 100%;
            height: 10vh;
            display: flex;
            padding: 30px;
            padding-bottom: 0;
            padding-top: 0;
            
            // background: lightblue;
            border-radius: 0 0 8px 0px;
            margin-top: 85px;
  
            .person {
              img {
                margin-top: 15px;
                margin-left: 0;
                width: 40px;
                height: 40px;
              }
            }
  
            .personal-info {
              width: 50%;
              height: 100%;
              margin-left: 60px;
              margin-top: -50px;
              /* background-color: yellowgreen; */
  
              h2 {
                margin-bottom: 0px;
                margin-top: 0px;
                font-size: 14px;
              }

              p{
                margin-top: 3px;
                font-size: 13px;
              }
  
            }
  
            .share {
              margin-top: 5%;
              margin-bottom: 5%;
              margin-right: 4%;
              z-index: 200;
              width: 40px;
                height: 40px;
  
              i {
                left: 22%;
                top: 22%;
                z-index: 200;
                width: 40px;
                height: 40px;
              }
  
            }
  
  
          }
  
        }
  
  
  
  
        .social-media {
          width: 100%;
          height: 10vh;
          top: 70vh;
          left: 0vw;
          z-index: 100;
  
          .span {
            margin-top: 10px;
          }
  
          
  
          i {
            margin-left: 5px;
            margin-right: 5px;
            
          }

          .fab{
            // color: red;
            margin-top: 10px;
          }
  
          .triangule {
            position: relative;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid transparent;
          }
  
  
        }
  
  
  
        .activo {
          background-color: var(--Very-Dark-Grayish-Blue);
          color: white;
          border-radius: 0px 0px 7px 7px;
        }
  
        .text.activo {
          color: white;
        }
  
      }
  
  
  
    }
  
  
  }




}





/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.scss.map */